.myCard {
   width: calc(100% / 6 - 40px);
   margin: 25px 20px;

   cursor: pointer;

   .img-square-container {
      // fix immagine sempre quadrata
      width: 100%;
      padding-top: 100%;

      position: relative;

      overflow: hidden;

      img {
         width: 100%;

         display: block;

         position: absolute;
         top: 0;
         left: 0;
         // object-fit: cover;
         // object-position: top;
      }
   }

   h5 {
      margin-top: 20px;
      font-size: .9rem;
      color: #fff;
   }
}